# https://phpstan.org/config-reference

includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 9

    ignoreErrors:
        -
            message: '#has no return type specified#'
            paths:
                - app/Http/Controllers/*
